<section>
  @if (mergedContent$ | async; as content) {
    <div class="content-wrapper">
      <h2>{{ content.cv.heading }}</h2>
      <p class="cv-subheading">{{ content.cv.subHeadingTillNow }}</p>
      <p class="summary">{{ content.cv.introductionTillNow }}</p>
      <div class="list-content">
        <div class="list-heading">{{ content.cv.mainStackHeading }}:</div>

        <ul>
          @for (mainStack of content.cv.mainStackList; track mainStack) {
            <li>
              {{ mainStack }}
            </li>
          }
        </ul>
      </div>

      <p class="cv-subheading">{{ content.cv.subHeadingCarreer }}</p>
      <p class="summary">{{ content.cv.introductionCarreer }}</p>

      <div class="list-content">
        <div class="list-heading">{{ content.cv.mainEmphasisHeading }}:</div>

        <ul>
          @for (mainEmphasis of content.cv.mainEmphasisList; track mainEmphasis) {
            <li>
              {{ mainEmphasis }}
            </li>
          }
        </ul>
      </div>

      <a
        mat-flat-button
        color="accent"
        class="cv-download-btn"
        href="/files/Lebenslauf_Annette_Lasar.pdf"
        download
        target="_blank"
        rel="noopener"
        [attr.aria-label]="content.cv.downloadAccessibility"
      >
        <span class="mdc-button__label">
          <span>{{ content.cv.buttonCaption }}</span>
          <mat-icon aria-hidden="true">download</mat-icon>
        </span>
      </a>
    </div>
  }
</section>
