@use '../../../../scss_styles/index.scss' as *;

:host {
  display: block;
}

section {
  padding: 2em 0.5em;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.summary {
  text-align: center;
}

.list-content {
  max-width: 400px;
  margin: 2em auto 3em;
  padding: 1.5em 1em;
  background-color: var(--color-primary-500);
  .list-heading {
    margin: 0 0 1em;
    color: var(--color-primary-contrast-500);
  }
  ul {
    padding: 0 0 0 0.5em;
    list-style: none;
    color: var(--color-primary-contrast-500);
    li {
      position: relative;
      padding: 0 0 0 1em;
      color: var(--color-primary-contrast-500);
      line-height: 2;
      &::before {
        content: '•';
        position: absolute;
        left: 0;
        color: var(--color-accent-500);
        line-height: 2;
      }
    }
  }
}

.cv-download-btn {
  width: fit-content;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0;
}

.cv-download-btn .mdc-button__label {
  @include flex-layout($justify: center);

  .mat-icon {
    margin-left: 0.5rem;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}
