@use '../../../../scss_styles/index' as *;

section {
  padding: 2em 0.5em;
}

.contact-form-wrapper {
  padding: 2em 1em;
  background-color: var(--color-primary-500);
  color: var(--color-primary-contrast-500);
  p {
    color: inherit;
  }
}
