@use '../../scss_styles/index' as *;

section {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 272px;
  grid-template-areas:
    'content'
    'footer';
  #page {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }

  main {
    grid-area: content;
  }

  port-footer {
    grid-area: footer;
    background-color: var(--color-primary-500);
  }
}

.menu {
  background-color: var(--color-accent-500);
}

@media (min-width: $breakpoint-md) {
  section {
    grid-template-rows: auto;
  }
  port-footer {
    padding: 2em;
  }
}
