@use '@angular/material' as mat;
@use '../../scss_styles/color-palettes' as palettes;
@use '../../scss_styles/index' as *;

section {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 272px;
  grid-template-areas:
    'content'
    'footer';
  #page {
    max-width: 1440px;
    margin: 0 auto;
  }

  main {
    grid-area: content;
  }

  port-footer {
    grid-area: footer;
  }
}

.menu {
  background-color: mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
}
