<section>
  @if(mergedContent$ | async; as content){
  <h2>{{ content.projectInfos.heading }}</h2>
  @if (currentIndex === null) {
  <div class="projets-list">
    @for (project of content.projectInfos.projects; track project.id; let i = $index) {
    <port-project
      [project]="project"
      [content]="content"
      [index]="i"
      (currentProject)="openDetail(i)"
    />
    }
  </div>
  } @else {
  <port-project-detail
    [project]="content.projectInfos.projects[currentIndex]"
    [content]="content"
    [currentIndex]="currentIndex"
    [projects]="projects"
    (closeContainer)="closeDetail()"
    (otherProject)="prevOrNextProject($event)"
  />
  } }
</section>
