@use '../../../../scss_styles/index' as *;

section {
  padding: 1em 0.5em;
  .projets-list {
    max-width: 830px;
    margin: 0 auto;
    @include flex-layout($justify: center, $gap: 1em);
    flex-wrap: wrap;
  }
}
