@use '@angular/material' as mat;
@use '../../../../../scss_styles/color-palettes' as palettes;
@use '../../../../../scss_styles/index.scss' as *;

.project-card {
  border: 2px solid red;

  .title-wrapper {
    @include flex-layout();
  }
}
