@use '@angular/material' as mat;

$portfolio-primary: mat.m2-define-palette((
  50:  #f5f5f5,
  100: #eeeeee, // light gray according to mockup
  200: #dddddd,   
  300: #bdbdbd,
  400: #9e9e9e,
  500: #3a3a3a,   // dark gray according to mockup
  600: #333333,
  700: #2a2a2a,
  800: #212121,
  900: #111111,
  contrast: (
    50:  rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: #3a3a3a,
    300: rgba(0,0,0,0.87),
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
), 500);


$portfolio-accent: mat.m2-define-palette((
  50:  #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffb933,   // orange according to mockup
  600: #ffa726,
  700: #ff9800,
  800: #fb8c00,
  900: #f57c00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50:  #000000de,
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    600: rgba(0,0,0,0.87),
    700: #fff,
    800: #fff,
    900: #fff,
    A100: rgba(0,0,0,0.87),
    A200: rgba(0,0,0,0.87),
    A400: rgba(0,0,0,0.87),
    A700: #fff
  )
), 500);


$portfolio-warn: mat.m2-define-palette((
  50:  #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #C7120F,   // red according to mockup
  600: #b71c1c,
  700: #a31818,
  800: #8e1414,
  900: #7b1010,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50:  rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: #fff,
    400: #fff,
    500: #fff, 
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: rgba(0,0,0,0.87),
    A200: #fff,
    A400: #fff,
    A700: #fff
  )
), 500);


