@use '@angular/material' as mat;
@use './color-variables' as *;

section {
  background-color: var(--color-primary-100);
}

h1,
h2 {
  font-family: 'Audiowide', sans-serif;
  color: var(--color-primary-500);
}

h1 {
  margin: 0.25em 0 0;
  font-size: clamp(2rem, 10vw + 16px, 2.7rem);
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  width: max-content;
  margin: 0 auto 1em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 6px solid var(--color-accent-500);
  font-size: clamp(1.25rem, 8vw + 0.5rem, 3.5rem);
  line-height: 1.1;
}

h3,
h4 {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  color: var(--color-primary-500);
  margin: 0 0 1em;
}

h4 {
  margin: 2em 0 1em;
  color: var(--color-accent-500);
}

h5 {
  margin: 0 0 1em;
}

p,
mat-card-content {
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 0 0 4px;
}

.project-detail {
  h3 {
    margin: 0 auto 0.75em; 
    width: fit-content;
    font-size: clamp(1.25rem, 7vw + 0.5rem, 3rem);
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
    color: var(--color-primary-contrast-500);
    border-bottom: 6px solid var(--color-accent-500);
    line-height: 1.1;
  }

  h4 {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    color: var(--color-primary-contrast-500);
  }

  p {
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
}

@include mat.card-overrides(
  (
    title-text-font: 'Lexend, sans-serif',
    title-text-size: 1rem,
    title-text-weight: 600,
    title-text-tracking: 0.05em,

    subtitle-text-font: 'Lexend, sans-serif',
    subtitle-text-size: 0.9rem,
    subtitle-text-weight: 400,
  )
);

input,
textarea {
  font-family: 'Lexend, sans-serif';
}

@include mat.button-overrides(
  (
    filled-label-text-font: 'Audiowide, sans-serif',
    filled-label-text-transform: uppercase,
    filled-label-text-weight: 400,
    filled-label-text-size: 1rem,
  )
);

@include mat.tabs-overrides(
  (
    active-label-text-color: #fff,
    inactive-label-text-color: #333,
    active-indicator-color: transparent,
  )
);
