@use '@angular/material' as mat;
@use './color-palettes' as palettes;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

section {
  background-color: #{mat.m2-get-color-from-palette(palettes.$portfolio-primary, 100)};
}

h1,
h2 {
  font-family: 'Audiowide', sans-serif;
  color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500);
}

h3,
h4 {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500);
  margin: 0 0 1em;
}

h4 {
  margin: 2em 0 1em;
  color: mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
}

h5 {
  margin: 0 0 1em;
}

h2 {
  width: max-content;
  margin: 0 auto 1em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 6px solid mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
}

p,
mat-card-content {
  font-family: 'Lexend', sans-serif;
  color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500);
  font-weight: 300;
  line-height: 1.2;
}

@include mat.card-overrides(
  (
    title-text-font: 'Lexend, sans-serif',
    title-text-size: 1rem,
    title-text-weight: 600,
    title-text-tracking: 0.05em,

    subtitle-text-font: 'Lexend, sans-serif',
    subtitle-text-size: 0.9rem,
    subtitle-text-weight: 400,
  )
);

h1 {
  font-size: clamp(2rem, 11vw + 16px, 4rem);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.25rem, 8vw + 0.5rem, 3.5rem);
}

input, textarea {
  font-family: 'Lexend, sans-serif';
}

@include mat.button-overrides(
  (
    filled-label-text-font: 'Audiowide, sans-serif',
    filled-label-text-transform: uppercase,
    filled-label-text-weight: 400,
    filled-label-text-size: 1rem,
  )
);

@include mat.tabs-overrides(
  (
    active-label-text-color: #fff,
    inactive-label-text-color: #333,
    active-indicator-color: transparent,
    // falls du die Linie ausblenden willst
  )
);
