<section>
  <img src="img/annette_lasar_sw_rgb_square.jpg" alt="" />
  @if (pageContentService.variableContent()?.hero) {
  <p>{{ pageContentService.variableContent()?.hero?.greeting }}</p>
  <h1>
    {{ pageContentService.variableContent()?.hero?.name }}
  </h1>
  @for (intro of pageContentService.variableContent()!.hero.introduction; track intro){
  <p>{{ intro }}</p>
  }

  <button matButton="filled" color="accent">
    {{ pageContentService.variableContent()?.hero?.buttonCaption }}
  </button>
  }

  <port-menu />
</section>
