<article class="project-details">
    <button type="button" class="close-button cursor-pointer"
    [attr.aria-label]="content.projectInfos.ariaLabelCloseProject"
    (click)="closeDetailView()">
        <img [src]="iconPathGeneralPrefix + content.generalInfos.closeX" alt="">
    </button>
  <h2>
    {{ project.title }}
  </h2>
  <figure>
    <img [src]="imgPathPrefix + project.imagePath" alt="" />
  </figure>
  <div class="button-wrapper">
    <a [href]="project.links?.demo">{{ content.projectInfos.tryButton }}</a>
    <a [href]="project.links?.github">GitHub</a>
  </div>
  <div>
    {{ content.projectInfos.appliedTechnologies }}
  </div>
  @for (tech of project.technologies; track tech) {
  <img [src]="iconPathSkillsPrefix + tech.iconPath" alt="" />
  }

  <div>
    {{ content.projectInfos.subHeadingDetailView1 }}
  </div>

  @for (descr of project.description; track descr) {
  <p>
    {{ descr }}
  </p>
  }
  <div>
    {{ content.projectInfos.subHeadingDetailView2 }}
  </div>
  @for (paragraph of project.workflow; track paragraph) {
  <p>
    {{ paragraph }}
  </p>
  }
</article>
