@use '../../../../../../scss_styles/index' as *;

.project-details {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: auto;
  padding: 0.5em 0.5em;
  position: fixed;
  inset: 0;
  z-index: 40;
  color: var(--color-primary-contrast-500);
  background-color: var(--color-primary-500);
  .close-button {
    padding: 0;
    display: block;
    margin: 0 0 0 auto;
    background-color: transparent;
    border: none;
    img {
        filter: invert(1);
    }
  }
  a {
    text-decoration: none;
    color: var(--color-primary-contrast-500);
  }
  h2 {
    color: var(--color-primary-contrast-500);
  }
  figure {
    width: 95%;
    margin: 0 auto;
    border: 1px solid red;
  }
  .button-wrapper {
    @include flex-layout();
  }
}
