@use '../../../../../scss_styles/' as *;

.project-card {
  min-width: 300px;
  max-width: 400px;
  margin: 0 0 2em;
  transition: transform 0.25s ease-out;
  &:hover {
    transform: scale(1.03) rotate(-0.5deg);
  }
   &:focus-visible {
    transform: scale(1.03);
  }
  .project-card-button {
    display: block;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary-contrast-500);
  }
  .title-wrapper {
    padding: 0.5em 0;
    font-size: 0.9rem;
    font-weight: 500;
    @include flex-layout();
    ul {
      @include flex-layout();
      li:not(:last-child)::after {
        content: '/';
        margin-inline-end: 0.5ch;
      }
    }
  }
}
