<button
  type="button"
  class="cursor-pointer"
  [attr.aria-label]="content.projectInfos.ariaLabelOpenProject + ': ' + project.title"
  (click)="openDetail()"
>
  <div>
    <img [src]="'./img/projects/' + project.imagePath" [alt]="project.title" />
  </div>
  <div class="title-wrapper">
    <div>{{ project.title }}</div>
    <div>
      @for (tech of project.technologies; track tech; let i = $index) {
      <span>{{ tech.technology }}{{ i < technologies.length - 1 ? ' / ' : '' }}</span>
      }
    </div>
  </div>
</button>
@if (showDetail) {
<port-project-detail 
[project]="project"
[content]="content"
(closeContainer)="closeDetail()"
/>
}
