@use '../../../scss_styles/tools' as *;

.content-wrapper {
  display: block;
}

.wrapper {
  padding: 2em 1em;
}

@media (min-width: $breakpoint-md) {
  .content-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 235px) 1fr;
    grid-template-areas: 'aside content';
  }

  aside {
    grid-area: aside;
  }

  .wrapper {
    height: 100vh;
    grid-area: content;
    overflow-y: auto;
  }
}
