@use '@angular/material' as mat;
@use '../../../scss_styles/color-palettes' as palettes;
@use '../../../scss_styles/index.scss' as *;

section {
  background-color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 200);
}
