<section>
  @if (mergedContent$ | async; as content) {
  <form class="contact-form">
    <mat-form-field class="full-width">
            <mat-label>
        {{ content.contact.form.name }}
      </mat-label>
      <input
        matInput
        [placeholder]="content.contact.form.namePlaceholder || ''"
        required
      />
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>
        {{ content.contact.form.errors.errorMissingName }}
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>
        {{ content.contact.form.email }}
      </mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [placeholder]="'My placeholder text'"
      />
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>
        {{ content.contact.form.errors.errorMissingEmail }}
      </mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>
        {{ content.contact.form.errors.errorMissingEmail }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>
        {{ content.contact.form.message }}
      </mat-label>
      <textarea
        matInput
        [placeholder]="content.contact.form.messagePlaceholder || ''"
        rows="5"
        maxlength="500"
        #message
        required
      ></textarea>
      <mat-hint class="char-hint full-width" align="end">{{ message.value.length }} / 500</mat-hint>
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>
        {{ content.contact.form.errors.errorMissingMessage }}
      </mat-error>
      }
    </mat-form-field>
    <div class="checkbox-wrapper">
      <label for="acceptPrivacy" class="custom-checkbox cursor-pointer">
        <input
          id="acceptPrivacy"
          class="checkbox cursor-pointer"
          type="checkbox"
          name="acceptPrivacy"
          required
        />
        <span
          class="checkbox-text"
          [innerHTML]="
            content.contact.acceptPrivacyPolicy || '' | linkifyPrivacy
          "
        ></span>
      </label>
    </div>
  </form>
  }
</section>
