@use '../../../../scss_styles/index' as *;

footer {
  height: 272px;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 48px 48px;
  grid-template-areas:
    'social'
    'legal'
    'copyright';
  place-items: center;
  color: var(--color-primary-contrast-500);
  background-color: var(--color-primary-500);
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    &:hover {
      color: var(--color-accent-500);
      border-bottom: 2px solid var(--color-accent-500);
    }
  }
  .social-media {
    grid-area: social;
    @include flex-layout($justify: center, $gap: 24px);
  }

  .legal-links {
    grid-area: legal;
  }

  .copyright {
    grid-area: copyright;
  }
}

@media (min-width: $breakpoint-md) {
  footer {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'copyright social legal';
  }

  .copyright {
    justify-self: flex-start;
  }

  .legal-links {
    justify-self: flex-end;
  }
}
