<footer>
  <div class="social-media">
    <a href="https://github.com/Annette-Lasar" target="_blank">
      <img src="icons/general/github.svg" alt="" height="32" />
    </a>
    <a href="#" target="_blank">
      <img src="icons/general/linkedin.svg" alt="" height="32" />
    </a>
  </div>
  <div class="legal-links">
    <a [routerLink]="['/imprint']" class="legal-link" fragment="footer">Impressum</a>
    |
    <a [routerLink]="['/privacy']" class="legal-link">Datenschutz</a>
  </div>
  <div class="copyright">&copy; Annette Lasar 2026</div>
</footer>