@use '@angular/material' as mat;
@use '../../../../scss_styles/color-palettes' as palettes;
@use '../../../../scss_styles/index' as *;

section {
  height: 272px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 48px 48px;
  grid-template-areas:
    'social'
    'legal'
    'copyright';
  place-items: center;
  color: mat.m2-get-contrast-color-from-palette(palettes.$portfolio-primary, 500);
  background-color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500);
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    &:hover {
      color: mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
      border-bottom: 2px solid #{mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500)};
    }
  }
  .social-media {
    grid-area: social;
    @include flex-layout($justify: center, $gap: 24px);
  }

  .legal-links {
    grid-area: legal;
  }

  .copyright {
    grid-area: copyright;
  }
}
