.cards-container {
  padding: 1em 0;
  max-height: 800px;
  overflow-y: auto;
}

.feedback-card {
  max-width: 400px;
  margin: 0 auto 1em;
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
}

.feedback-header-image {
  background-size: cover;
}
