@use '../../../../scss_styles/index' as *;

:host {
  display: block;
}

section {
  padding: 0 1em;
  .cards-container {
    padding: 1em 0;
    @include flex-layout($justify: center, $gap: 0.5em);
    flex-wrap: wrap;
  }

  .feedback-card {
    max-width: 250px;
    height: 300px;
    margin: 0 auto 1em;

    &:hover {
      box-shadow: 0 4px 12px var(--color-primary-300);
      transition: box-shadow 0.3s ease;
    }

    .feedback-header-image {
      background-size: cover;
    }

    .feedback-card-content {
      height: 240px;
      padding-block: 1em;
      .inner-card {
        height: 100%;
        padding-block: 1em;
        overflow-y: auto;
      }
    }
  }
}
