@use '../../../../scss_styles/index' as *;

:host {
  display: block;
}

section {
  padding: 2em 0.5em;
  .text-wrapper {
    margin: 0 auto;
    max-width: 600px;
    .subheading-1 {
      margin: 0 0 1.5em;
      font-size: clamp(0.9rem, 3vw, 1.3rem);
      text-align: center;
    }
    .subheading-2 {
      margin: 1em 0;
      font-size: clamp(0.9rem, 3vw, 1.2rem);
    }
  }
}

.tabs-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

::ng-deep .about-tabs .mat-mdc-tab.mdc-tab--active {
  background-color: var(--color-primary-500);
}

::ng-deep .about-tabs .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--color-primary-contrast-500) !important;
}

::ng-deep .about-tabs .mat-mdc-tab {
  background-color: var(--color-primary-contrast-500);
  border: 2px solid var(--color-primary-500);
}

::ng-deep .about-tabs .mat-mdc-tab .mdc-tab__text-label {
  color: var(--color-primary-500) !important;
}

::ng-deep .mat-mdc-tab-group .mdc-tab-indicator__content--underline {
  display: none !important;
}

::ng-deep .about-tabs .mat-mdc-tab-body-content {
  padding: 3em 1.5em;
  @include flex-layout($align: baseline, $justify: center, $gap: 1rem);
  flex-wrap: wrap;
  font-size: 0.8rem;
  background-color: var(--color-primary-500);
  color: var(--color-primary-contrast-500);
  figure {
    width: 75px;
    text-align: center;
    img {
      margin: 0 0 12px;
    }
    figcaption {
      margin: 0 0 1em;
      text-align: center;
    }
  }
}
