<section>
  @if (pageContentService.variableContent()?.about &&
  pageContentService.staticContent()?.staticAboutInfos) {
  <h2>{{ pageContentService.variableContent()?.about?.heading }}</h2>
  <div>{{ pageContentService.variableContent()?.about?.subHeading }}</div>

  @for (intro of pageContentService.variableContent()!.about.introduction; track intro) {
  <p>{{ intro }}</p>
  }

  <mat-tab-group>
    <mat-tab [label]="pageContentService.variableContent()!.about.tabHeading1">
      @for (frontendIcon of frontendIcons; track frontendIcon.id) {
      <figure>
        <img
          [src]="'icons/skills/' + frontendIcon.iconPath"
          [alt]="frontendIcon.caption"
          height="40"
        />
        <figcaption>{{ frontendIcon.caption }}</figcaption>
      </figure>
      }
    </mat-tab>
    <mat-tab [label]="pageContentService.variableContent()!.about.tabHeading2">
      @for (backendIcon of backendIcons; track backendIcon.id) {
      <figure>
        <img
          [src]="'icons/skills/' + backendIcon.iconPath"
          [alt]="backendIcon.caption"
          height="40"
        />
        <figcaption>{{ backendIcon.caption }}</figcaption>
      </figure>
      }
    </mat-tab>
  </mat-tab-group>
  }
</section>
