@use '@angular/material' as mat;
@use '../../../../scss_styles/color-palettes' as palettes;
@use '../../../../scss_styles/index' as *;

.menu {
  background-color: mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
}

.menu-floating {
  width: 95%;
  max-width: 500px;
  position: fixed;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 44px;
  border-radius: 38px;
}

:host ::ng-deep mat-toolbar.custom-toolbar {
  max-height: 100%;
  @include flex-layout();
  border-radius: 38px;
  background-color: mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500);
  .button-wrapper {
    @include flex-layout($direction: column, $justify: center);
    .menu-icon {
      width: 32px;
      height: 32px;
      @include flex-layout($justify: center);
      mat-icon {
        font-size: 24px;
        line-height: 1;
        display: block;
      }
    }
    .button-caption {
      padding: 0;
      display: block;
      font-size: 0.4rem;
      border: 1px solid green;
    }
  }
}

:host ::ng-deep .mat-mdc-icon-button .mat-icon {
  color: mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500) !important;
}

@media (min-width: $breakpoint-md) {
  .menu-floating {
    width: 44px;
    height: 80vh;
    max-height: 600px;
    position: absolute;
    top: 50%;
    right: 1em;
    left: auto;
    bottom: auto;
    padding: 1em 0;
    transform: translate(0, -50%);
    border: 2px solid royalblue;
  }

  :host ::ng-deep mat-toolbar.custom-toolbar {
    height: 100%;
    @include flex-layout($direction: column);
  }

  .menu-aside {
    height: 100vh;
    .image-wrapper {
      height: 40%;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .aside-menu-wrapper {
      height: 60%;
      padding: 1em;
      @include flex-layout($direction: column);
    }
  }
}
