@use '../../../../scss_styles/index' as *;

.menu {
  background-color: var(--color-accent-500);
}

.menu-floating {
  width: 95%;
  max-width: 500px;
  position: fixed;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  height: 44px;
  border-radius: 38px;
  .language-icon {
    display: none;
  }
}

.menu-aside {
  display: none;
}

:host ::ng-deep mat-toolbar.custom-toolbar {
  max-height: 100%;
  @include flex-layout();
  border-radius: 38px;
  background-color: var(--color-accent-500);
  .link-wrapper,
  .button-wrapper {
    @include flex-layout($direction: column, $justify: center);
    .menu-icon {
      width: 32px;
      height: 32px;
      @include flex-layout($justify: center);
      mat-icon {
        font-size: 24px;
        line-height: 1;
        display: block;
      }
    }
    .button-caption {
      padding: 0;
      display: block;
      font-size: 0.4rem;
    }
  }
}

:host ::ng-deep .mat-mdc-icon-button .mat-icon {
  color: var(--color-primary-500) !important;
}

a {
  color: var(--color-primary-500);
  text-decoration: none;
}

.icon-indicator {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Punkt */
a .icon-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;

  opacity: 0;
  transition: opacity 150ms ease;
}

/* aktiv */
a.active .icon-indicator::after {
  opacity: 1;
}

/* ====================================================
MEDIA QUERIES
======================================================== */

@media (min-width: $breakpoint-md) {
  .menu-floating {
    width: 48px;
    height: 80vh;
    max-height: 600px;
    position: absolute;
    top: 50%;
    right: 1em;
    left: auto;
    bottom: auto;
    padding: 1em 0;
    transform: translate(0, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-out;
    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }
    .language-icon {
      position: relative;
      display: block;
    }
  }

  :host ::ng-deep mat-toolbar.custom-toolbar {
    height: 100%;
    @include flex-layout($direction: column);
  }

  .menu-aside {
    width: 100%;
    height: 100vh;
    @include flex-layout($direction: column, $justify: flex-start, $gap: 1em);
    opacity: 0;
    pointer-events: none;
    transform: translateX(-24px);
    pointer-events: none;
    transition:
      opacity 200ms ease,
      transform 200ms ease;
    &.is-visible {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }
    .image-wrapper {
      height: fit-content;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .aside-menu-wrapper {
      width: 100%;
      height: 60%;
      max-height: 700px;
      padding: 1em;
      @include flex-layout($direction: column);
      a {
        width: 100%;
        border-radius: 0;
      }
      .active {
        text-decoration: underline;
      }
    }
  }
}
