<nav aria-label="Hauptnavigation">
  @if (mergedContent$ | async; as content) {

  <mat-toolbar class="custom-toolbar">
    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.home">
        <mat-icon>home</mat-icon>
      </button>
      <!-- <span class="button-caption">Start</span> -->
    </div>
    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.about">
        <mat-icon>person</mat-icon>
      </button>
      <!-- <span class="button-caption">About</span> -->
    </div>

    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.projects">
        <mat-icon>code</mat-icon>
      </button>
      <!-- <span class="button-caption">Projekte</span> -->
    </div>

    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.feedback">
        <mat-icon>forum</mat-icon>
      </button>
      <!-- <span class="button-caption">Feedback</span> -->
    </div>

    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.cv">
        <mat-icon>description</mat-icon>
      </button>
      <!-- <span class="button-caption">Lebenslauf</span> -->
    </div>

    <div class="button-wrapper">
      <button matIconButton class="menu-icon favorite-icon" [aria-label]="content.menu.contact">
        <mat-icon>alternate_email</mat-icon>
      </button>
      <!-- <span class="button-caption">Kontakt</span> -->
    </div>
  </mat-toolbar>
  }
</nav>
