@if (content && project) {
  <article class="project-detail">
    <div class="wrapper">
      <div class="title-wrapper">
        <button
          type="button"
          class="close-button cursor-pointer"
          [attr.aria-label]="content.projectInfos.ariaLabelCloseProject"
          (click)="closeDetailView()"
        >
          <img [src]="iconPathGeneralPrefix + content.generalInfos.closeX" alt="" />
        </button>
        <h3>
          {{ project.title }}
        </h3>
      </div>
      <div class="img-wrapper">
        <img [src]="imgPathPrefix + project.imagePath" alt="" />

        <div class="link-wrapper">
          <a [href]="project.links?.demo" target="_blank" class="test-button">{{
            content.projectInfos.tryButton
          }}</a>
          <a [href]="project.links?.github" target="_blank" class="github-button">GitHub</a>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="arrow arrow-left cursor-pointer" (click)="showOtherProject(-1)">
          <img [src]="iconPathGeneralPrefix + content.generalInfos.arrowLeft" alt="" />
        </button>
        <div class="navigation-info">
          <span>
            {{ currentIndex + 1 }}
          </span>
          <span>/</span>
          <span>
            {{ projects.length }}
          </span>
        </div>
        <button class="arrow arrow-right cursor-pointer" (click)="showOtherProject(1)">
          <img [src]="iconPathGeneralPrefix + content.generalInfos.arrowRight" alt="" />
        </button>
      </div>
      <div class="tech-wrapper">
        <h4 class="technology-title">
          {{ content.projectInfos.appliedTechnologies }}
        </h4>
        <ul class="tech-list">
          @for (tech of project.technologies; track tech) {
            <li>
              @if (tech.iconPath) {
                <img [src]="iconPathSkillsPrefix + tech.iconPath" alt="" />
              } @else {
                <span class="tech-text">
                  {{ tech.technology }}
                </span>
              }
            </li>
          }
        </ul>
      </div>
      <div class="content-wrapper">
        <h4 class="about-project">
          {{ content.projectInfos.subHeadingDetailView1 }}
        </h4>

        @for (descr of project.description; track descr) {
          <p>
            {{ descr }}
          </p>
        }
        <h4>
          {{ content.projectInfos.subHeadingDetailView2 }}
        </h4>
        @for (paragraph of project.workflow; track paragraph) {
          <p>
            {{ paragraph }}
          </p>
        }
      </div>
    </div>
  </article>
}
