@use '../../../../scss_styles/index.scss' as *;

:host {
  display: block;
}

section {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding: 0 0 60px;
  position: relative;
  background-color: var(--color-primary-contrast-400);
  @include flex-layout($direction: column);
  .picture {
    height: clamp(28vh, 35vh, 40vh);
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    background-image: url('../../../../../public/img/annette_lasar_sw_rgb_square.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content-wrapper {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'text'
      'button';
    flex: 1;
    .text-content-wrapper {
      grid-area: text;
      padding: 0.5em;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'greeting'
        'name'
        'paragraph';
      row-gap: 0.5em;
      .greeting {
        font-weight: 500;
      }
      .headline-wrapper {
        width: fit-content;
        .orange-underline {
          width: 100%;
          height: 4px;
          margin: 0 0 8px;
          background-color: var(--color-accent-500);
        }
      }
    }

    .button-wrapper {
      grid-area: button;
      width: fit-content;
      margin: 0 auto;
      
      .about-link {
        padding: 1em 2em;
        border-radius: 0;
        color: var(--color-primary-500);
      }
    }
  }
  .language-dropdown-wrapper {
    width: 60px;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 20;
    text-align: center;
    background-color: var(--color-accent-500);
  }
}

@media (min-width: $breakpoint-md) {
  section {
    padding: 0;
    @include flex-layout($direction: row-reverse, $justify: center);
    position: relative;
    .picture {
      width: 50%;
      height: 100%;
      background-image: url('../../../../../public/img/annette_lasar_sw_rgb.jpg');
      background-position: right;
    }

    .content-wrapper {
      margin: 0;
      max-width: unset;
      row-gap: 3em;
      .text-content-wrapper {
        row-gap: 1em;
      }
      .button-wrapper {
        margin: unset;
        .about-link {
          padding: 1em 2em;
          @include flex-layout($justify: center);
          border-radius: 0;
        }
      }
    }
    .language-dropdown-wrapper {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
