@use '@angular/material' as mat;
@use '../../../../scss_styles/color-palettes' as palettes;

section {
  height: 100vh;
  height: 100dvh;
  padding: 0 0 60px; 
  background-color: #{mat.m2-get-contrast-color-from-palette(palettes.$portfolio-primary, 400)};
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    height: clamp(28vh, 35vh, 40vh);
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    border: 2px solid royalblue;
  }
  .content-wrapper {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1; 
    border: 2px solid pink;
    .text-content-wrapper {
      padding: 0.5em;
      .headline-wrapper {
        width: fit-content;
        .orange-underline {
          width: 100%;
          height: 4px;
          margin: 0 0 8px;
          background-color: #{mat.m2-get-color-from-palette(palettes.$portfolio-accent, 500)};
        }
      }
    }
  }
  .button-wrapper {
    width: fit-content;
    margin: 0 auto;
    padding: 0 0.5em;
    button {
      border-radius: 0;
      color: #{mat.m2-get-color-from-palette(palettes.$portfolio-primary, 500)};
    }
  }
}
