<section #heroSection class="hero" id="hero" data-section="hero">
  @if (mergedContent$ | async; as content) {
  <div class="picture"></div>
  <div class="content-wrapper">
    <div class="text-content-wrapper">
      <p class="greeting">{{ content.hero.greeting }}</p>
      <div class="headline-wrapper">
        <h1>
          {{ content.hero.name }}
        </h1>
        <div class="orange-underline"></div>
      </div>

      @for (intro of content.hero.introduction; track intro){
      <p>{{ intro }}</p>
      }
    </div>
    <div class="button-wrapper">
      <button matButton="filled" color="accent">
        {{ content.hero.buttonCaption }}
      </button>
    </div>
  </div>
  <port-menu context="hero" />
  
  <div class="language-dropdown-wrapper">
    <port-language-dropdown variant="overlay" 
    [currentLanguage]="content?.generalInfos?.currentLanguage"
    />
  </div>
  }
</section>
