<section #heroSection class="hero" data-section="hero">
  @if (mergedContent$ | async; as content) {
    <div class="picture" aria-hidden="true"></div>
    <div class="content-wrapper">
      <div class="text-content-wrapper">
        <p class="greeting">{{ content.hero.greeting }}</p>
        <div class="headline-wrapper">
          <h1>
            {{ content.generalInfos.candidateFirstName }}
          </h1>
          <div class="orange-underline"></div>
        </div>

        @for (intro of content.hero.introduction; track intro) {
          <p>{{ intro }}</p>
        }
      </div>
      <div class="button-wrapper">
        <a
          matButton="filled"
          class="about-link"
          color="accent"
          (click)="scroll('about', $event)"
          [aria-label]="content.hero.buttonAccessibility"
        >
          {{ content.hero.buttonCaption }}
        </a>
      </div>
    </div>
    <port-menu context="hero" />

    <div class="language-dropdown-wrapper">
      <port-language-dropdown
        variant="overlay"
        [currentLanguage]="content?.generalInfos?.currentLanguage"
      />
    </div>
  }
</section>
