// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'scss_styles/index' as *;

// Theme definition
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

// Custom classes
.full-width {
  width: 100%;
}

.privacy-link {
  color: mat.m2-get-color-from-palette($portfolio-accent, 500);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.25s ease;

  &:hover,
  &:focus {
    color: mat.m2-get-color-from-palette($portfolio-accent, 100);
  }
}

.cursor-pointer {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
