@use '../../../../scss_styles/index' as *;


section {
  height: 100%;
  padding: 1em 0.5em;
  .title {
    margin: 1.5em 0 0.5em;
  }
}

button {
  border-radius: 0;
}

.phone,
.legal-link {
  color: var(--color-accent-500);
}

.legal-wrapper {
  margin: 2em 0 0;
  font-size: small;
}

@media (min-width: $breakpoint-md) {
  section {
    padding: 1em; 
  }
}